@model IEnumerable<Product>
@{
    Layout = "NewLayout";
}

<h2 class="text-center ">Products in Hijaby </h2>

<hr />
<div class="table-responsive">
<table class="table text-center " >
    <thead class="bg-info "  >
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col">Code</th>
            <th scope="col">Quantity</th>
            <th scope="col">Image</th>
            <th scope="col">Category</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="col">@item.ProductId</th>
                <th scope="col">@item.Title</th>
                <th scope="col">@item.Price L.E </th>
                <th scope="col">@item.Description</th>
                <th scope="col">@item.Code</th>
                <th scope="col">@item.Quantity</th>
                <td>
                    <img src="@item.PathImage" alt="Image" class="img-thumbnail" style="max-width: 200px; height: auto;" />
                </td>
                <th scope="col">@item.Category.Name </th>
                <th scope="col" width="200">
                    <a asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-secondary btn-sm">Details</a>
                    <a asp-controller="Product" asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-success  btn-sm"> Edit </a>
                    <a asp-controller="Product" asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-danger btn-sm ">Delete</a>
                </th>
            </tr>
        }
    </tbody>
</table>
</div>
<footer>
    <a asp-controller="Product" asp-action="Create" class="btn btn-outline-info  my-4">Add Product</a>
</footer>

